*:focus {
  outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 10px;
    font-family: sans-serif;
    color: #C7BBB3;
}

input {
  padding: 0;
  margin: 0;
  border: none;
}

.pinyin-app {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: #F3EDE9;;
}

  .pinyin-app__input {
    background: transparent;
    text-align: center;
    font-size: 15rem;
    color: #9A8A7F;
  }

  .pinyin-app__options {
    text-align: center;
    padding: 2rem;
    font-size: 1.8rem;
    text-shadow: 0px 2px 3px #FFF;
    opacity: 1;
  }

/* helpers */
.full {
  width: 100%;
  height: 100%;
  display: block;
}

.strong {
  font-weight: bold;
}
